alembic
asyncpg
fastapi[all]
sqlmodel
uvicorn[standard]
pytest
httpx
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pytest_asyncio
pydantic[email]
flake8
pytest
black
isort
cachetools